* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-f5f5f7: #f5f5f7;
  --color-777777: #777777;
  --color-232f3e: #232f3e;
  --color-febd69: #febd69;
  --color-131921: #131921;
  --color-1c1c1b: #1c1c11b;
}

body {
  font-family: "Rubik", sans-serif;
}
.gap-15 {
  gap: 15px;
}
.gap-30 {
  gap: 30px;
}
a {
  text-decoration: none;
  display: inline-block;
}
.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}
.button {
  background-color: var(--color-232f3e);
  color: white;
  font-size: 14px;
  padding: 13px 33px;
  border-radius: 25px;
}
.button:hover {
  background-color: var(--color-febd69);
  color: #131921;
}
/*Home Wrapper 2*/
.home-wrapper-2 {
  background-color: var(--color-f5f5f7);
}
/*Home wrapper 2 ends*/

/*Contact page*/
.contact-inner-wrapper {
  padding: 30px 20px;
  border-radius: 15px;
  background-color: white;
  gap: 15px;
}
.contact-inner-wrapper > div {
  width: 48%;
}
.contact-inner-title {
  font-size: 26px;
  font-weight: 500;
  line-height: 35px;
  text-align: left;
}
.contact-inner-wrapper form .form-control {
  background-color: var(--color-f5f5f7);
  border-radius: 10px;
  border-color: transparent;
  padding: 10px;
}
.contact-inner-wrapper ul {
  list-style: none;
}
.contact-inner-wrapper address,
.contact-inner-wrapper a,
.contact-inner-wrapper p {
  color: var(--color-777777);
}

/*Contact page Ends*/

/* Header part */

.header-upper,
.header-bottom {
  background-color: var(--color-131921);
}

.header-upper .input-group-text {
  background-color: var(--color-febd69);
}
.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}
.header-upper .menu-links {
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3;
  text-transform: uppercase;
}

/* Header part ends */

/* Footer part */
footer {
  background-color: var(--color-232f3e);
}
footer:not(:first-child) {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
footer .input-group-text {
  background-color: var(--color-232f3e);
  color: white;
  padding: 8px 17px;
}
/* Footer part ends */

/*auth card*/
.auth-card {
  padding: 20px;
  background-color: white;
  width: 500px;
  margin: 30px auto;
  border-radius: 10px;
}
.auth-card h3 {
  font-size: 19px;
  font-weight: 500;
  color: var(--color-777777);
}
.auth-card p {
  font-size: 13px;
  color: var(--color-777777);
}
.auth-card .form-control {
  height: 50px;
  background-color: var(--color-f5f5f7);
  color: var(--color-777777);
  font-size: 14px;
  border-radius: 10px;
  border-color: transparent;
}
.auth-card a {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-1c1c1b);
}
.signup {
  background-color: var(--color-febd69);
  color: var(--color-131921);
  border: none;
}
.signup:hover {
  background-color: var(--color-131921);
  color: white;
}

/*auth cards end*/

/* Policy Pages */

.policy {
  background-color: white;
  padding: 30px;
}
/* Policy Pages  ends */
